.app_dark_theme {
  --bg-color: #1111a1;
  --inverted-bg-color: white;
  --primary-color: #2ecc07;
  --secondary-color: green;
  --inverted-primary-color: #00f;
  --inverted-secondary-color: #2121de;
}
