.ProfileCard {
  padding: 20px;
  border: 2px solid var(--primary-color);

  &.edit {
    border-color: var(--inverted-primary-color);
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
